name: ci
on:
  push:
    branches:
      - main

jobs:
  deploy:
    name: GAE deploy
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Overwrite .env file
        run: |
          echo "CHANNEL_ACCESS_TOKEN=${{ secrets.CHANNEL_ACCESS_TOKEN }}" > .env
          echo "CHANNEL_SECRET=${{ secrets.CHANNEL_SECRET }}" >> .env
          echo "TEXT_FILE_PATH=${{ secrets.TEXT_FILE_PATH }}" >> .env
          echo "PORT=${{ secrets.PORT }}" >> .env
      - name: Deploy an App Engine app
        id: deploy-app
        uses: google-github-actions/deploy-appengine@v0.3.1
        with:
          project_id: ${{ secrets.GCP_PROJECT_ID }}
          deliverables: app.yaml
          credentials: ${{ secrets.GCP_SA_KEY }}
          version: v1
